.section {
  margin-top: 0px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.section .detailContents {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 700px;
  background-color: black;
  visibility: hidden;
  transition: all 0.3s ease;
  opacity:0;
   top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  /*left: 80%;*/
  /*transform: translate(50%, 50%);*/
}
.section .detailContents.active {
  opacity: 1;
  left: 60%;
  /*transform: translateX(0);*/
  visibility: visible;
  transition: all 0.3s ease;
}

.section .imageContents {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 700px;
  background-color: black;
  visibility: hidden;
  transition: all 0.3s ease;
  opacity:0;
   top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  /*left: 80%;*/
  /*transform: translate(50%, 50%);*/
}
.section .imageContents.active {
  opacity: 1;
  left: 60%;
  /*transform: translateX(0);*/
  visibility: visible;
  transition: all 0.3s ease;
}

.section .menuContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
.section .menuContainer.active {
  left: 30%;
  transition: all 0.3s ease;
  z-index: 2;
}
.section .menuContainer.active > .centerBtn, .section .menuContainer.active .menu {
  pointer-events: none !important;
  opacity: 0.5 !important;
}
.section .menuContainer .closeBtn {
  position: absolute;
  top: 50%;
  right: -20%;
  transform: translate(-50px, -60px);
  height: 100px;
  width: 100px;
  background: gold;
  font-size: 28px;
  z-index: 2;
  border-radius: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  outline: none;
  transition: all 0.15s ease-in;
  cursor: pointer;
}
.section .menuContainer .centerBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50px, -60px);
  height: 100px;
  width: 100px;
  background: #d9d9d9;
  font-size: 28px;
  z-index: 2;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  text-decoration: none;
  outline: none;
  opacity: 1;
}
.section .menuContainer .centerBtn:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: box-shadow 0.15s ease;
}
.section .menuContainer .centerBtn.active {
  transform: translate(-50px, -60px) rotate(45deg);
  transition: all 0.15s ease-in;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}
.section .menu {
  padding: 0;
  list-style: none;
  position: relative;
  margin: 30px auto;
  width: 70%;
  padding-top: 70%;
  transform: scale(0.1) rotate(180deg);
  pointer-events: none;
  opacity: 0;
  overflow: hidden;
}
.section .menu.active {
  transform: scale(1) rotate(0deg);
  opacity: 1;
  pointer-events: all;
  transition: transform 0.25s ease-out, opacity 0.25s ease-in !important;
}
.section .menu li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: url(#sector);
 /* try this one in Chrome/Opera/Safari */
}
.section .menu li a {
  display: block;
  width: 100%;
  height: 100%;
}
.section .menu li:hover, .section .menu li:focus {
  /* background-color: gold; */
}
.section .menu li:hover a .icon, .section .menu li:focus a .icon {
  font-size: 28px;
}
.section .icon {
  position: absolute;
 /* exact values here depend on what you are placing inside the items (icon, image, text, etc.) */
  right: 15%;
  top: 30%;
 /* make sure it it rotated enough;
  angle of rotation = angle of the sector itself */
  transform: rotate(60deg);
 /* style further as needed */
  color: #666;
  font-family: Indie Flower;
  font-size: 26px;
  user-select: none;
  pointer-events: none;
}
@media all and (max-width: 700px) {
  .section .menu {
    width: 150px;
    height: 150px;
    padding: 0;
 }
  .section .closeBtn {
    transform: translate(-30px, -40px) !important;
    height: 60px !important;
    width: 60px !important;
 }
  .section .centerBtn {
    height: 80px !important;
    width: 80px !important;
    transform: translate(-40px, -50px) !important;
 }
  .section .centerBtn.active {
    transform: translate(-40px, -50px) rotate(45deg) !important;
 }
  .section .menuContainer.active {
    top: 95% !important;
 }
}
@media all and (min-width: 700px) {
  .section .menu {
    width: 400px;
    height: 400px;
    padding: 0;
 }
}